<div class="home-root bg-dark">
    <ng-container *ngIf="productsLoading; then renderLoading; else renderNext"></ng-container>
</div>
<ng-template #renderLoading>
    <div class="loading-root">
        <div class="spinner-border text-muted " role="status">
        </div>
        <p class="lead text-muted">Loading</p>
    </div>
</ng-template>
<ng-template #renderNext>
    <ng-container *ngIf="productsError; then renderError; else renderScreen"></ng-container>
</ng-template>
<ng-template #renderError>
    <div class="loading-root">
        <p class="lead text-muted">{{ productsError }}</p>
    </div>
</ng-template>
<ng-template #renderScreen>
    <app-home-carousel [images]="images"></app-home-carousel>
    <div class="jumbotron bg-dark">
        <h1 class="display-4 text-center text-light">Welcome!</h1>
        <p class="lead text-center text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <hr class="my-4 bg-light">
        <p class="text-center lead text-white">Hope your enjoy your stay!</p>
    </div>
    <div class="container">
        <div class="row no-gutters product-div">
            <div class="col-3" *ngFor="let items of products">
                <app-product-card [product]="items"></app-product-card>
            </div>
        </div>
    </div>
</ng-template>