.root-div {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.invalid-feedback-span {
  display: block;
  font-size: 80%;
  margin-top: -10px;
  margin-bottom: 20px;
  color: red;
}

.error-span {
    display: block;
    padding: 10px;
    text-align: center;
    color: maroon;
}

.card {
    padding: 30px;
    border-radius: 0px;
}

.loading-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-root p {
    margin-top: 20px;
    display: block;
}