<ng-container *ngIf="isLoading; then renderLoading; else renderForm">
</ng-container>
<ng-template #renderForm>
    <div class="root-div bg-dark">
        <div class="card bg-light" style="width: 100%; max-width: 540px;">
            <div class="card-body">
                <p class="card-title display-4 text-center text-muted">Hello there</p>
                <p class="text-muted text-center lead small" style="display: block;">Welcome to sample app. Please login to continue.</p>
                <hr class="my-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="login-form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="john.doe@gmail.com">
                    </div>
                    <arv-validation-messages for="email">
                        <span class="invalid-feedback-span">Please enter a valid email.</span>
                    </arv-validation-messages>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="********">
                    </div>
                    <arv-validation-messages for="password">
                        <span class="invalid-feedback-span">Please enter a valid password.</span>
                    </arv-validation-messages>
                    <button type="submit" class="btn btn-primary"><small>Login</small></button>
                    <small class="error-span" *ngIf="hasError">{{ hasError }}</small>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #renderLoading>
    <div class="loading-root">
        <div class="spinner-border text-muted " role="status">
        </div>
        <p class="lead text-muted">Loading</p>
    </div>
</ng-template>